body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    color: #8f8f8f;
}

.big-heading {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.5;   /* line height will be 1.5 times the font size */
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


.navbar {
    padding: 0 0 4.5rem 0;
} 

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-weight: 100;
    font-size: 0.95rem;
}

.download-button {
    margin: 8% 3% 5% 0;
}

.titleIMG-container {
    position: relative;
}

.titleIMG {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    top: -10%;
    right: 20%;
}

#features {
    position: relative;
    /* z-index: 1;  this is not necessary anymore as features section is beneath title image so it will automatically be on top of title image */
}

.feature-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.featureIMG {
    color: #ef8172;
    margin-bottom: 1rem;
}

.featureIMG:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

#testimonials img {
    width: 15%;
    border-radius: 100%;
    margin: 30px;
}

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
    color: #fff;
}

#press img {
    width: 10%;
    margin: 40px 20px;
}

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;    
}

.fa {
    color: #000;
}

@media (max-width:1050px) {

    .titleIMG {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }

}